$color-bleached-silk: #F2F2F2;
$color-white: #FFFFFF;
$color-precision: #2B3844;
$color-freinacht-black: #202C36;
$font-color-light-mode: #111517;
$font-color-dark-mode: #FFFFFF;
$font-primary: "Nunito Sans", "Arial", sans-serif;